.content {
  width: 100vw;
  height: 100vh;
  background: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  flex: 1;
  flex-shrink: 0;
  height: calc(100vh - 80px);
  background: #1a1a1a;
  margin: 0px 20px;
  border-radius: 8px;
  padding: 20px;
}

.right {
  flex: 1;
  flex-shrink: 0;
  height: calc(100vh - 80px);
  background: #1a1a1a;
  margin: 0px 20px;
  border-radius: 8px;
  padding: 20px;
}

p {
  color: #fff;
  font-size: 18px;
  margin: 0 0 10px 0;
}

button {
  background: #2C9573;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  padding: 8px 10px;
  color: #fff;
  margin: 0 20px 20px 0;
}

pre {
  background: #242424;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
}


